html {
    font-size: 16px;
}

#score p {
    margin-left: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}


#numbers {
    width: 80%;
    margin: auto;
}

#numbers table {
    margin: auto;
}

#digits {
    margin-left: 10%;
    font-size: 1.2rem;
}

#hint_content p {
    border: 1px solid red;
    margin-left: 10%;
}

#hint_form {
    margin-left: 10%;
}

#hint_1, #hint_2 {
    padding-left: 10%;
    font-style: italic;
    font-size: 0.9rem;
    color: rosybrown;
}
