#score p {
    border: 1px solid yellow;
    margin-left: 10%;
}

#code {
    border: 1px solid blue;
}

#numbers {
    width: 80%;
    margin: auto;
}

#digits {
    border: 1px solid black;
    margin-left: 10%;
}

#hint_content p {
    border: 1px solid red;
    margin-left: 10%;
}

#hint_form {
    border: 1px solid green;
    margin-left: 10%;
}

#refresh {
    margin-left: 10%;
}